@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-100: 0 0% 96%;
    --primary-200: 0 0% 90%;
    --primary-300: 0 0% 83%;
    --primary-400: 0 0% 64%;
    --primary-500: 0 0% 45%;
    --primary-600: 0 0% 32%;
    --primary-700: 0 0% 19%;
    --primary-800: 0 0% 15%;
    --primary-900: 0 0% 9%;

    --highlight: rgba(38, 38, 38, 0.7);

    @media (prefers-color-scheme: light) {
      --primary-100: 30 4% 9%;
      --primary-200: 40 3% 19%;
      --primary-300: 36 3% 28%;
      --primary-400: 45 3% 47%;
      --primary-500: 47 4% 57%;
      --primary-600: 48 6% 66%;
      --primary-700: 45 10% 76%;
      --primary-800: 45 52% 91%;
      --primary-900: 44 56% 95%;

      --highlight: rgba(223, 223, 223, 0.7);
    }
  }
}

html {
  height: 100dvh;
  overflow: hidden;
  @apply bg-primary-900;
  @apply text-primary-100;
}

body,
#__next {
  height: 100%;
}

p {
  max-width: 75ch;
  @apply text-xl;
}

a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  width: fit-content;
  font-style: italic;
  will-change: transform;
  transform-origin: left;
  text-transform: lowercase;
  @apply transition-all;
  @apply text-primary-300;

  &:hover {
    transform: scaleX(1.15);

    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: -2.25px;
    width: 40%;
    height: 2.25px;
    @apply transition-[width];
    @apply bg-primary-300;
  }
}

[data-hover-type="link"] {
  transform: scale(1.9);
  @apply bg-primary-400;

  > svg {
    display: unset;
    opacity: 1;
  }
}

[data-hover-type=""] {
  transform: scale(1);
  @apply bg-transparent;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  width: 778px;
  margin-bottom: 80px;

  > h1 {
    font-size: 10em;
    font-weight: 900;
    line-height: 9rem;
    text-transform: uppercase;
    transform: scale(1.35, 0.8);
    transform-origin: left;

    @media (max-width: 880px) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @media (max-width: 480px) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  > span {
    text-align: right;
    font-size: 2rem;
    width: 100%;

    @media (max-width: 880px) {
      text-align: left;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 880px) {
    width: 100%;
  }
}
