*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Neue Montreal", sans-serif;
  font-weight: normal;
}

body {
  width: 100vw;
}


@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/GT-NeueMontreal-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/GT-NeueMontreal-Light.woff2");
  font-weight: 300;
  font-style: normal;
}